


.GameImage
{
    width: 67%;
}

.project
{
    justify-self: center;
	justify-content: center;
	align-items: baseline;
	flex-wrap:wrap;
	flex-basis: 0%;
    display: flex;
    text-align: center;
    gap: 1.5vw;
}

@media screen and (max-width: 800px) {
	.project
	{
		grid-template-columns: auto;
	}

	.project div
	{
		margin-left: 4.5vw;
		margin-right: 4.5vw;
	}
}

.project div
{
	width: 400px;
}

.project div
{
	display: grid;
	place-items: center;
}

.project div h2
{

	font-size: 200%;
}

#slideshow
{
	margin: 4vw;
}
