/* NOT IMPLEMENTED YET */

	/* Portfolio Slide */

		#AboutMe #portfolioSlide
		{
			height: 10vw;
			width: 80vw;
		}

		#AboutMe #portfolioSlide img
		{
			flex: 0 0 15vw;
			object-fit: cover;
			margin-top: -2vw;
			width:	90vw;
			height: 13vw;
		}
	/* Additional CSS Fonts */

		@font-face {
			font-family: fac;
			src: url('Assets/Fonts/GoodfishRg.otf');
		}

		@font-face {
			font-family: Drybrush;
			src: url('Assets/Fonts/Drybrush.ttf');
		}

		@font-face {
			font-family: Cyen;
			src: url('Assets/Fonts/Cyen.ttf');
		}
